* {
    background-color: yellow;
    h1{
        font-size: 30px;
    }

    nav {
        form{
            input{
                padding: 5px;
            }
            button{
                padding: 5px;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }
}